[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "dxsp"
version = "0.0.1"
authors = [
  { name="MrAniki" },
]
description = "A defi swap helper package DeX SwaP"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/mraniki/dxsp"
"Bug Tracker" = "https://github.com/mraniki/dxsp/issues"
